In [1]:
import pandas as pd
import matplotlib as mp

In [2]:
data = pd.read_excel(r'C:\Users\matth\OneDrive\Desktop\PythonDataAnalysis\data.xlsx')
pd.set_option('display.max_columns', 9)
pd.set_option('display.max_rows', 80)
data.head(5)

,ID,Sex,Age(yrs),Height(in),Weight(lbs),Level of injury,DXA%Fat,BODPOD%Fat
0,1,Male,31,73,213.00,T3,35.5,39.6
1,2,Male,31,72,260.00,T4,30.5,29.7
2,3,Male,38,69,186.80,T9,47.2,40.7
3,4,Female,32,57,212.00,C4,40.7,38.2
4,5,Male,55,71,193.75,C4,48.4,49.9

In [3]:
demo_age = data[["Age(yrs)"]]
demo_ht = data[["Height(in)"]]
demo_wt = data[["Weight(lbs)"]]
age_mean = demo_age.mean()
ht_mean = demo_ht.mean()
wt_mean = demo_wt.mean()
print(age_mean)
print(ht_mean)
print(wt_mean)

Age(yrs)    33.7375
dtype: float64
Height(in)    69.575
dtype: float64
Weight(lbs)    168.695
dtype: float64