In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [2]:
data = pd.read_excel(r'C:\Users\matth\OneDrive\Desktop\PythonDataAnalysis\data.xlsx')
pd.set_option('display.max_columns', 9)
pd.set_option('display.max_rows', 80)
data.head(5)

,ID,Sex,Age(yrs),Height(in),Weight(lbs),Level of injury,DXA%Fat,BODPOD%Fat
0,1,Male,31,73,213.00,T3,35.5,39.6
1,2,Male,31,72,260.00,T4,30.5,29.7
2,3,Male,38,69,186.80,T9,47.2,40.7
3,4,Female,32,57,212.00,C4,40.7,38.2
4,5,Male,55,71,193.75,C4,48.4,49.9

In [3]:
male = data[data["Sex"] == 'Male']
female = data[data["Sex"] == 'Female']

c1 = data[data["Level of injury"] == "C1"]
c2 = data[data["Level of injury"] == "C2"]
c3 = data[data["Level of injury"] == "C3"]
c4 = data[data["Level of injury"] == "C4"]
c5 = data[data["Level of injury"] == "C5"]
c6 = data[data["Level of injury"] == "C6"]
c7 = data[data["Level of injury"] == "C7"]

t1 = data[data["Level of injury"] == "T1"]
t2 = data[data["Level of injury"] == "T2"]
t3 = data[data["Level of injury"] == "T3"]
t4 = data[data["Level of injury"] == "T4"]
t5 = data[data["Level of injury"] == "T5"]
t6 = data[data["Level of injury"] == "T6"]
t7 = data[data["Level of injury"] == "T7"]
t8 = data[data["Level of injury"] == "T8"]
t9 = data[data["Level of injury"] == "T9"]
t10 = data[data["Level of injury"] == "T10"]
t11 = data[data["Level of injury"] == "T11"]
t12 = data[data["Level of injury"] == "T12"]

c_total = pd.concat([c1, c2, c3, c4, c5, c6, c7]) # all cervical particpants
t_total = pd.concat([t1, t2, t3, t4, t5, t6, t7, t8, t9, t10, t11, t12]) # all thoracic particpants

In [4]:
demo = data[["Age(yrs)", "Height(in)", "Weight(lbs)"]] # demographics for all particpants
dxa_bf = data[["DXA%Fat"]] # dxa results column
bodpod_bf = data[["BODPOD%Fat"]] # bodpod results column

male_demo = male[["Age(yrs)", "Height(in)", "Weight(lbs)"]] # demographics for all men
female_demo = female[["Age(yrs)", "Height(in)", "Weight(lbs)"]] # demographics for all women

In [6]:
demo_mean = demo.mean()
demo_stdev = demo.std()

test = np.mean(demo)

male_demo_mean = male_demo.mean()
male_demo_stdev = male_demo.std()
female_demo_mean = female_demo.mean()
female_demo_stdev = female_demo.std()

print(demo_mean)
print(test)

Age(yrs)        33.7125
Height(in)      69.4000
Weight(lbs)    170.1300
dtype: float64
Age(yrs)        33.7125
Height(in)      69.4000
Weight(lbs)    170.1300
dtype: float64