In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [2]:
data = pd.read_excel(r'C:\Users\matth\OneDrive\Desktop\PythonDataAnalysis\data.xlsx')
pd.set_option('display.max_columns', 9)
pd.set_option('display.max_rows', 51)
data.head(20)

,ID,Sex,Age(yrs),Height(in),Weight(lbs),Level of injury,DXA%Fat,BODPOD%Fat
0,1,Male,31,73,213.00,T3,35.5,39.6
1,2,Male,31,72,260.00,T4,30.5,29.7
2,3,Male,38,69,186.80,T9,47.2,40.7
3,4,Female,32,57,212.00,C4,40.7,38.2
4,5,Male,55,71,193.75,C4,48.4,49.9
5,6,Male,38,74,182.00,T12,37.0,19.3
6,7,Male,30,73,169.00,T4,25.7,26.1
7,8,Female,24,65,110.00,C6,23.1,11.9
8,9,Male,36,70,125.00,C4,25.8,25.5
9,10,Male,60,71,133.25,C6,28.4,16.6
10,11,Male,34,70,182.00,T12,35.2,36.7
11,12,Male,24,74,215.00,T9,33.7,39.3
12,13,Male,31,70,230.00,T5,31.5,23.7
13,14,Male,40,69,187.00,T9,47.8,41.0
14,15,Female,27,58,212.60,C4,42.7,39.2
15,16,Male,54,69,190.00,C2,40.7,43.9
16,17,Male,22,74,182.50,T10,42.3,22.0
17,18,Male,30,70,169.00,T4,25.1,26.1
18,19,Female,25,66,115.00,C6,27.1,12.0
19,20,Male,19,71,155.00,C4,27.5,25.5

In [3]:
male = data[data["Sex"] == 'Male']
female = data[data["Sex"] == 'Female']

c1 = data[data["Level of injury"] == "C1"]
c2 = data[data["Level of injury"] == "C2"]
c3 = data[data["Level of injury"] == "C3"]
c4 = data[data["Level of injury"] == "C4"]
c5 = data[data["Level of injury"] == "C5"]
c6 = data[data["Level of injury"] == "C6"]
c7 = data[data["Level of injury"] == "C7"]

t1 = data[data["Level of injury"] == "T1"]
t2 = data[data["Level of injury"] == "T2"]
t3 = data[data["Level of injury"] == "T3"]
t4 = data[data["Level of injury"] == "T4"]
t5 = data[data["Level of injury"] == "T5"]
t6 = data[data["Level of injury"] == "T6"]
t7 = data[data["Level of injury"] == "T7"]
t8 = data[data["Level of injury"] == "T8"]
t9 = data[data["Level of injury"] == "T9"]
t10 = data[data["Level of injury"] == "T10"]
t11 = data[data["Level of injury"] == "T11"]
t12 = data[data["Level of injury"] == "T12"]

c_total = pd.concat([c1, c2, c3, c4, c5, c6, c7]) # all cervical particpants
t_total = pd.concat([t1, t2, t3, t4, t5, t6, t7, t8, t9, t10, t11, t12]) # all thoracic particpants

In [4]:
demo_mean = data[["Age(yrs)", "Height(in)", "Weight(lbs)", "DXA%Fat", "BODPOD%Fat"]].mean() 
demo_stdev = data[["Age(yrs)", "Height(in)", "Weight(lbs)", "DXA%Fat", "BODPOD%Fat"]].std() 
dm = np.array(demo_mean)
ds = np.array(demo_stdev)

male_demo_mean = male[["Age(yrs)", "Height(in)", "Weight(lbs)", "DXA%Fat", "BODPOD%Fat"]].mean()  
male_demo_stdev = male[["Age(yrs)", "Height(in)", "Weight(lbs)", "DXA%Fat", "BODPOD%Fat"]].std() 
mdm = np.array(male_demo_mean)
mds = np.array(male_demo_stdev)

female_demo_mean  = female[["Age(yrs)", "Height(in)", "Weight(lbs)", "DXA%Fat", "BODPOD%Fat"]].mean() 
female_demo_stdev  = female[["Age(yrs)", "Height(in)", "Weight(lbs)", "DXA%Fat", "BODPOD%Fat"]].std() 
fdm = np.array(female_demo_mean)
fds = np.array(female_demo_stdev)

dxa_bf = data[["DXA%Fat"]] # dxa results column
bodpod_bf = data[["BODPOD%Fat"]] # bodpod results column

#print(dm)
#print(ds)
#print(mdm)
#print(mds)
#print(fdm)
#print(fds)

In [5]:
demo_table = {'Total (N = 51)': ['34.37 ± 12.01', '69.08 ± 4.46', '171.93 ± 37.13', '37.46 ± 7.54', '32.97 ± 10.87'],
             'Male (N = 37)': ['35.49 ± 11.54', '71.22 ± 2.48', '180.87 ± 32.68', '36.98 ± 7.30', '33.45 ± 9.71'],
             'Female (N = 14)': ['31.42 ± 13.16', '63.42 ± 3.47', '148.02 ± 41.56', '38.70 ± 8.30', '31.67 ± 13.80']}

demo_table_df = pd.DataFrame(demo_table, columns = ['Total (N = 51)', 'Male (N = 37)', 'Female (N = 14)'],
                            index = ['Age(yrs)', 'Ht(in)', 'Wt(lbs)', 'DXA%BF', 'BODPOD%BF'])

print(demo_table_df)

           Total (N = 51)   Male (N = 37) Female (N = 14)
Age(yrs)    34.37 ± 12.01   35.49 ± 11.54   31.42 ± 13.16
Ht(in)       69.08 ± 4.46    71.22 ± 2.48    63.42 ± 3.47
Wt(lbs)    171.93 ± 37.13  180.87 ± 32.68  148.02 ± 41.56
DXA%BF       37.46 ± 7.54    36.98 ± 7.30    38.70 ± 8.30
BODPOD%BF   32.97 ± 10.87    33.45 ± 9.71   31.67 ± 13.80