In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\matth\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\matth\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\matth\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\matth\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\matth\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\matth\anaconda3\lib\site-packages (3.3.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\matth\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\matth\anaconda3\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\matth\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\matth\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\matth\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.15 in c:\users\matth\anaconda3\lib\site-packages (from matplotlib) (1.20.1)
Requirement already satisfied: six in c:\users\matth\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [5]:
df = pd.read_excel(r'C:\Users\matth\OneDrive\Desktop\PythonDataAnalysis\data.xlsx')

In [6]:
print(df)

    ID     Sex  Age (yrs)  Stature (m) Level of injury  DXA-%Fat  \
0    1    Male         31           73              T1      35.5
1    2    Male         31           72              T4      30.5
2    3    Male         38           69             T10      47.2
3    4    Male         32           72              C4      40.7
4    5    Male         55           71              C4      48.4
5    6    Male         38           74             T12      37.0
6    7    Male         30           73              T4      25.7
7    8    Male         24           65              C6      23.1
8    9    Male         36           70              C4      25.8
9   10    Male         60           71              C4      28.4
10  11    Male         31           67              C4      31.3
11  12    Male         28           73              C7      41.7
12  13    Male         34           74              C5      29.1
13  14  Female         23           68              C3      41.2
14  15  Female         22           61              T1      33.3
15  16  Female         32           67              C1      41.1
16  17    Male         35           73              T7      42.5
17  18  Female         25           65              C4      47.0
18  19    Male         30           72              C4      36.5
19  20    Male         22           72              C8      47.3
20  21    Male         18           68              C4      38.5
21  22    Male         19           76              C4      41.8
22  23    Male         50           73              C4      40.3
23  24    Male         37           66              T1      38.9
24  25    Male         25           75              C8      34.9
25  26    Male         41           78              C6      38.1
26  27    Male         28           74              C4      39.2
27  28    Male         33           72              C4      28.7
28  29    Male         32           72              C5      42.9
29  30    Male         42           73              C4      41.9
30  31  Female         71           67              C2      49.1
31  32    Male         23           73              C5      33.7
32  33  Female         27           63              C4      52.4
33  34    Male         41           72              C4      44.5
34  35    Male         24           68              C4      40.9
35  36    Male         50           65              T6      30.6
36  37    Male         27           71              T2      37.5
37  38  Female         23           65              C5      39.1
38  39    Male         51           70              C4      45.2

    Total-mass (LBS)  BODPOD % Fat  Body Weight (LBS) (BodPod)  Unnamed: 9  \
0             215.82          39.6                      213.00         NaN
1             260.48          29.7                      260.00         NaN
2             175.12          40.7                      186.80         NaN
3             207.02          38.2                      212.00         NaN
4             195.80          49.9                      193.75         NaN
5             180.18          19.3                      182.00         NaN
6             157.30          26.1                      169.00         NaN
7             111.76          11.9                      110.00         NaN
8             131.78          25.5                      125.00         NaN
9             145.42          16.6                      133.25         NaN
10            159.19          28.6                      153.25         NaN
11            162.58          53.6                      157.75         NaN
12            176.88          22.1                      192.50         NaN
13            113.30           5.5                      120.00         NaN
14            102.52          28.9                       96.25         NaN
15            118.14          30.1                      117.25         NaN
16            210.10          40.9                      208.75         NaN
17            152.24          45.5                      153.75         NaN
18            145.42          33.0                      146.00         NaN
19            218.68          40.4                      220.00         NaN
20            132.85          29.7                      142.00         NaN
21            221.69          39.8                      219.00         NaN
22            194.70          39.5                      195.00         NaN
23            146.52          39.2                      149.00         NaN
24            194.26          30.8                      194.00         NaN
25            165.22          30.6                      168.00         NaN
26            196.90          32.4                      203.50         NaN
27            164.10          30.6                      164.00         NaN
28            192.90          34.7                      192.00         NaN
29            215.16          40.9                      216.00         NaN
30            198.50          55.4                      197.25         NaN
31            146.96          26.9                      143.75         NaN
32            176.66          47.6                      175.00         NaN
33            149.38          43.2                      149.50         NaN
34            149.60          31.7                      150.00         NaN
35            132.44          18.3                      135.00         NaN
36            170.94          37.4                      169.00         NaN
37             93.50          33.4                       92.50         NaN
38            218.68          41.0                      216.00         NaN

    Unnamed: 10  Unnamed: 11  Unnamed: 12  Unnamed: 13
0           NaN          NaN          NaN          NaN
1           NaN          NaN          NaN          NaN
2           NaN          NaN          NaN          NaN
3           NaN          NaN          NaN          NaN
4           NaN          NaN          NaN          NaN
5           NaN          NaN          NaN          NaN
6           NaN          NaN          NaN          NaN
7           NaN          NaN          NaN          NaN
8           NaN          NaN          NaN          NaN
9           NaN          NaN          NaN          NaN
10          NaN          NaN          NaN          NaN
11          NaN          NaN          NaN          NaN
12          NaN          NaN          NaN          NaN
13          NaN          NaN          NaN          NaN
14          NaN          NaN          NaN          NaN
15          NaN          NaN          NaN          NaN
16          NaN          NaN          NaN          NaN
17          NaN          NaN          NaN          NaN
18          NaN          NaN          NaN          NaN
19          NaN          NaN          NaN          NaN
20          NaN          NaN          NaN          NaN
21          NaN          NaN          NaN          NaN
22          NaN          NaN          NaN          NaN
23          NaN          NaN          NaN          NaN
24          NaN          NaN          NaN          NaN
25          NaN          NaN          NaN          NaN
26          NaN          NaN          NaN          NaN
27          NaN          NaN          NaN          NaN
28          NaN          NaN          NaN          NaN
29          NaN          NaN          NaN          NaN
30          NaN          NaN          NaN          NaN
31          NaN          NaN          NaN          NaN
32          NaN          NaN          NaN          NaN
33          NaN          NaN          NaN          NaN
34          NaN          NaN          NaN          NaN
35          NaN          NaN          NaN          NaN
36          NaN          NaN          NaN          NaN
37          NaN          NaN          NaN          NaN
38          NaN          NaN          NaN          NaN